.event-details {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  /* margin: auto; */
  overflow: hidden;
  transition: ease-in-out 1s;
  max-height: 20em; /* Set a max height for the element */
}

.event-details.show {
  max-height: 50em;
  overflow: auto;
}

.event-title {
  font-size: 28px;

  margin: 0;

  color: #333;
}

.event-date {
  font-size: 16px;

  margin: 10px 0;

  color: #666;
}

.event-address {
  font-size: 16px;
  margin: 10px 0;
  color: #666;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  margin-top: 1em;
}

@media only screen and (hover: none) and (pointer: coarse) {
  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
  }
  .event-details {
    width: 100vw;
  }
}

.details-button,
.register-button {
  background: linear-gradient(to bottom, #0d1a26, #1f4161);
  color: white;
  border: none;
  padding: 0.7em 1em;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.details-button:hover,
.register-button:hover {
  background: linear-gradient(to bottom, #1f4161, #01002a);
}
