.event-list {
  max-width: 100vw;
  min-width: 60vw;
  margin: 0 auto;
  padding: 3em;
  max-height: 80vh;
}

.event-list h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.event-list ul {
  list-style: none;
  padding: 0;
}

.event-list li {
  display: flex;
  align-items: center;
}

.event-list li:last-child {
  border-bottom: none;
  padding-bottom: 5em;
}

.event-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.event-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}
