table {
  /* border-collapse: collapse; */
  width: auto;
  table-layout: fixed;
  /* margin: 20px 0; */
  background: #01002a;
  color: #fff;
  overflow: auto;
  max-height: 80vh;
  padding: 20px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  margin: auto;
}

th,
tr > td {
  text-align: left;
  width: 100%;
  /* height: 1em; */
  padding: 1em;
}

th {
  background: #01002a;
  padding: 1em;
  color: white;
  width: 1em;
}

tr:nth-child(even) {
  background: rgb(137, 209, 251);
  color: black;
  height: 1em;
}

tr:nth-child(odd) {
  color: black;
  height: 1em;
  background: #c3e1fa;
}
