/* .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
  } */

.user-profile-card-body {
  margin: auto;
  padding: 1em;
  max-width: 700px;
  max-height: 700px;
  width: 100%;
  background: #fafaff;
  /* border: 1px solid #e0e0e0; */
  border-radius: 11px;
  box-shadow: 17px 17px 50px #dcdce0, -17px -17px 50px #ffffff;
}

.user-profile-inner-card-body {
  margin: 0 auto;
  max-width: 550px;
  width: 100%;
  background: #fafaff;
}

.user-profile-mb-3 {
  /* display: flex; */
  gap: 20px;
  margin-bottom: 22px;
}

.user-profile-form-control {
  width: 100%;
  padding-bottom: 10px;
  border: none;
  border-bottom: 1px solid #dde3ec;
  background: #ffffff;
  font-weight: 500;
  font-size: 16px;
  color: #07074d;
  outline: none;
  resize: none;
}
.user-profile-form-control::placeholder {
  color: #536387;
}
.user-profile-form-control:focus {
  border-color: #6a64f1;
}
.user-profile-form-label {
  color: #07074d;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  display: block;
  margin-bottom: 18px;
  font-size: 25px;
}
.user-profile-form-control:focus + .form-label {
  color: #6a64f1;
}

.formbold-btn {
  font-size: 16px;
  border-radius: 5px;
  padding: 12px 25px;
  border: none;
  font-weight: 500;
  background-color: #6a64f1;
  color: white;
  cursor: pointer;
  margin-top: 25px;
}

.user-profile-form-label {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5em;
}

